<div class="container mt-5 edit-window hide">
  <div class="card">
    <div class="card-header">
      Edit Post
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="postTitle" class="form-label">Title</label>
          <input type="text" class="form-control" id="postTitle" placeholder="Object-Relational Mapping">
        </div>
        <div class="mb-3">
          <label for="postContent" class="form-label">Content</label>
          <textarea class="form-control" id="postContent" rows="3"></textarea>
        </div>
        <button id="update-post" type="submit" class="btn btn-primary">Update Post</button>
        <button id="delete-post" type="submit" class="btn btn-danger">Delete</button>
      </form>
    </div>
  </div>
</div>



<ul class="container mt-5 all-post-holder">
  <!-- Card for MVC topic -->

  {{#each posts as |post|}}
  
  <li class="card post-card" post_id="{{post.post_id}}" title="{{post.title}}" content="{{post.contents}}">
    <div class="row">
      <div class="col-6">
        <h5 class="mb-0">{{post.title}}</h5>
      </div>
      <div class="col-6 text-right">
        <small>Created on {{format_time post.created_date}}</small>
      </div>
    </div>
  </li>

  {{/each}}

</ul>


<div class="container mt-5 create-window">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="card new-post-container hide">
        <div class="card-header new-post-header">
          Create New Post
        </div>
        <div class="card-body">
          <form class="new-post-form">
            <div class="form-group">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" placeholder="Title">
            </div>
            <div class="form-group">
              <label for="content">Content</label>
              <textarea class="form-control" id="content" rows="3" placeholder="Content"></textarea>
            </div>
            <button id="create-btn" type="submit" class="btn btn-secondary btn-block mt-3">Create</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <button class="btn btn-primary btn-lg new-post-btn">+ New Post</button>
</div>





<script src="/js/dashboard.js"></script>